
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
                <dt>关于star-mall</dt>
                <dd><a rel="nofollow" href="https://github.com/away-star/star-mall" target="_blank">了解star-mall</a>
                </dd>
                <dd><a rel="nofollow" href="https://github.com/away-star/star-mall" target="_blank">加入star-mall</a>
                </dd>
                <dd><a rel="nofollow" href="https://github.com/away-star/star-mall" target="_blank">捐赠维护</a>
                </dd>
        </div>
    </div>
</div>
</html>
